@charset "UTF-8";

/* 폰트 */
.depth01_tit01{
    font-size: 48px;
    line-height: 1.2;
    + .txt01{margin-top:16px}
}
.depth01_tit02{
    font-size: 34px;
    line-height: 1.2;
    + .txt01{margin-top:16px}
}
.depth01_tit03{
    font-size: 24px;
    line-height: 1.2;
    + .txt01{margin-top:16px}
}

.sub_tit01{font-size: 16px;line-height: 1.2;}
.sub_tit02{font-size: 14px;line-height: 1.2;}

.txt01{font-size: 16px;line-height: 1.2;}
.txt02{font-size: 14px;line-height: 1.2;}
.txt03{font-size: 12px;line-height: 1.2;}

/* 간격 */
.depth01_wrap01{
    & + .depth01_wrap01{
        margin-top: 44px;
    }
}
.depth02_wrap01{
    & + .depth02_wrap01{
        margin-top: 36px;
    }
}
.depth03_wrap01{
    & + .depth03_wrap01{
        margin-top: 28px;
    }
}

/*버튼*/

@mixin btnBg($color) {
border-color: $color;
background: $color;
}

.btn{
    /*폰트 사이즈*/
    & .small{
        font-size: 0.92857143rem;
    }
    & .large{
        font-size: 1.14285714rem;
    }
    & .big{
        font-size: 1.28571429rem;
    }
    /* 컬러*/
    & .green{
        background-color: #21BA45;
        color: #FFFFFF;
    }
    & .teal{
        background-color: #00B5AD;
        color: #FFFFFF;
    }
    & .red {
        background-color: #DB2828;
        color: #FFFFFF;
    }

    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background-color: #2185D0;
    color: #FFFFFF;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
            box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    
    &:hover{
        background-color: #1678c2;
        color: #FFFFFF;
    }
}

