/* color */
/*https://ant.design/components/overview/?ref=designrevision.com*/

/* 변수 */
// $color01:#;
// $color02:#;
// $color03:#;
// $color04:#;
// $fontFamily01:;
// $fontFamily02:;
// $fontFamily03:;

/* 선택자와 속성을 재활용 : 선언할 때는 '@mixin'으로 시작하고, 호출할 때는 '@include'을 사용*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

%clear {
   display: block;
   content: '';
   clear: both;
}


/* 확장/상속 extend : ​@extend하면 하나의 선택기에서 다른 선택기로 CSS 속성 집합을 공유*/
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend %message-shared;
  border-color: green;
}
/*연산자 : +, -, *, /, %*/

header{
    height: 64px;
    padding: 0 50px;
    color: #000000d9;
    line-height: 64px;
    background: #001529;
    .inner{
        max-width:1440px;
        margin:0 auto;
        .wrap_account{
            .logo{
                float: left;
                width: 120px;
                height: 31px;
                margin: 16px 24px 16px 0;
                background: rgba(255, 255, 255, 0.3);
                a{
                    display:inline-block;
                    width:100%;
                    height:100%;
                    background-image:url('');
                    background-repeat:no-repeat;
                    background-size:100% 100%;
                    color:#fff
                }
            }
            .box_account{
                float: right;
                a{
                    float: left;
                }
                &:after{
                   @extend %clear;
                }
            }
            &:after{
               @extend %clear;
            }
        }
        
    }
}

