@charset "UTF-8";
/* color */
/*https://ant.design/components/overview/?ref=designrevision.com*/

/* 변수 */
// $color01:#;
// $color02:#;
// $color03:#;
// $color04:#;
// $fontFamily01:;
// $fontFamily02:;
// $fontFamily03:;

/* 선택자와 속성을 재활용 : 선언할 때는 '@mixin'으로 시작하고, 호출할 때는 '@include'을 사용*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

%clear {
   display: block;
   content: '';
   clear: both;
}


/* 확장/상속 extend : ​@extend하면 하나의 선택기에서 다른 선택기로 CSS 속성 집합을 공유*/
%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend %message-shared;
  border-color: green;
}
/*연산자 : +, -, *, /, %*/

header{
    padding-bottom: 10px!important;
    color: #000000d9;
    line-height: 64px;
    background: #001529;
    .inner{
        max-width:1440px;
        min-width: 768px;
        margin:0 auto;
        .wrap_account{
            padding:0 40px;
            display: flex;
            align-items: center;
            .logo{
                display: flex;
                align-items: center;
                width: 30px;
                height: 30px;
                a{
                    display:inline-block;
                    width:100%;
                    height:100%;
                    background-image:url("/src_assets/image/common/svg/icon_react_logo_01.svg");
                    background-repeat:no-repeat;
                    background-size:100% 100%;
                    color:rgb(101, 13, 13)
                }
            }
            .box_account{
                display: inline-flex;
                justify-content :space-between;
                width:250px;
                margin-left: auto;
                a{
                    color:#fff
                }
            }
        }
        
    }
}

